<html ng-app="mvc-monitor">
<head>
    <title>MVC Monitor</title>
    <link rel="stylesheet" href="Content/css/bootstrap.css" />
    <link rel="stylesheet" href="Content/css/style.css" />
</head>

<body ng-controller="ApplicationErrorSummaryCtrl">

    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">MVC Monitor</span>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="./dashboard.html">Dashboard</a></li>
                <li><a href="./index.html">Index</a></li>
            </ul>
        </div>
    </nav>

    <div ng-show="connectionState != 'Connected'" class="alert alert-danger dashboardError">
        Connection Error: {{connectionState}}
    </div>

    <div class="column">
        <h3>Summary</h3>
        <ul>
            <li>
                <div class="appErrorSummary appErrorSummaryAll">
                    <span class="errorSummaryCount">{{applicationsSummary.TotalCount}}</span>
                    <ul>
                        <li class="errorSummaryTitle">All</li>
                        <li>Latest: {{applicationsSummary.LatestError.ExceptionType | limitTo: 30 }}{{applicationsSummary.LatestError.ExceptionType.length > 30 ? '...' : ''}}</li>
                        <li>Application: {{applicationsSummary.LatestError.Application}}</li>
                        <li>When: {{applicationsSummary.LatestError.Time | parseAsDate | date:'dd-MM-yyyy HH:mm'}}</li>
                    </ul>
                </div>
            </li>

            <li ng-repeat="summary in applicationsSummary.ErrorSummaries">
                <div class="appErrorSummary">
                    <span class="errorSummaryCount">{{summary.ErrorCount}}</span>
                    <ul>
                        <li class="errorSummaryTitle">{{summary.Application}}</li>
                        <li>Latest: {{summary.LatestErrorType | limitTo: 30 }}{{summary.LatestErrorType.length > 30 ? '...' : ''}}</li>
                        <li>When: {{summary.Latest | parseAsDate | date:'dd-MM-yyyy HH:mm'}}</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="column">
        <h3>Error Locations</h3>

        <table class="table table-striped table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Application</th>
                    <th style="width: 250px;">Location</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="location in errorLocations">
                    <td>{{location.Application}}</td>
                    <td>{{location.Location}}</td>
                    <td>{{location.Occurences}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="/Scripts/jquery-2.0.2.min.js"></script>
    <script src="/Scripts/jquery.signalR-1.1.2.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Client/app.js"></script>
    <script src="/Client/Controllers/DashboardController.js"></script>
    <script src="/Client/Directives/ParseAsDate.js"></script>
</body>
</html>